node_modules 
dist/assets 
dist/index.html 
dist/Screenshot_2024-11-24_195122-removebg-preview-fotor-2024112420037 (1).png 
dist/Screenshot_2024-11-24_195122-removebg-preview-fotor-2024112420233.png 
dist/vite.svg# 
Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
